<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelpLAH!</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div id="header-bar" class="p-4 d-flex">
        <div>
            <img class="header-logo pt-2 pt-lg-0" src="../files/logo.png">
        </div>
        <div class="header-tabs px-5">
            <div class="header-tab w-25 float-right text-center">
                <h5>Logout</h5>
            </div>
            <div class="header-tab w-25 float-right text-center">
                <h5>Home</h5>
            </div>
        </div>
    </div>
</body>
</html>
